@import "src/variables";

.lets-container {
  background-color: $background-color;
  width: 100%;
  padding: 126px 0 140px;
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 47px;
  }
  h4 {
    margin-top: 0;
    padding: 0 4px;
    letter-spacing: 0.12px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  p, a {
    padding-left: 5px;
  }
  p {
    color: #4c4b4b;
    margin: 0;
  }
  .middle-text {
    margin-bottom: 24px;
  }

  .bottom-text{
  margin-bottom: 11px;
  }

  .lets-block {
    display: flex;
    justify-content: center;
    >div {
     padding: 0 32px;
    }
    img {
      width: 289px;
      height: 285px;
    }
    .lets-text-block {
      padding: 0 0 0 32px;
    }
  }

}

@media screen and (max-width: 1440px){
  .lets-container {
    padding: 126px 0 130px 0;
    h2 {
      margin-bottom: 29px;
    }
    .bottom-text{
      margin-bottom: 16px;
    }
    .lets-block {
      margin-right: -3px;
      >div {
        padding: 0;
      }
      .lets-text-block {
        padding: 19px 0 0 26px;
      }
    }

  }
}

@media screen and (max-width: 992px){
  .lets-container {
    padding: 88px 0 91px;
    .bottom-text {
      margin-bottom: 19px;
    }
    h2 {
    letter-spacing: 0.2px;
    }
    .lets-image-holder {
      padding-top: 22px;
    }
    h4 {
      padding: 0;
      margin-bottom: 12px;
    }
    p, a {
      padding: 0;
    }
    padding: 88px 0;
    .lets-block {
      margin: 0;
      .lets-image-holder {
        padding: 0;
        margin-top: 17px;
      }
      .lets-text-block {
        padding: 13px 0 0 28px;
      }
      img {
        width: 219px;
        height: 216px;
      }
    }

  }
}


@media screen and (max-width: 700px){
  .lets-container {
    padding: 44px 0 53px;
    h2 {
      margin-bottom: 0;
    }
    h4 {
      padding: 10px;
      margin-bottom: 2px;
    }
.bottom-text {
  margin-bottom: 14px;
}

    .lets-block {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .lets-text-block {
        padding-left: 0;
      }
      >div {
        padding: 0;
      }
      img {
        width: 219px;
        height: 216px;
      }
    }
    .lets-image-holder img {
      width: 219px;
    }
  }
}
