{
  "extends": ["airbnb"],
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true,
    "navigator": true
  },
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "rules": {
    "func-names": ["error", "never"],
    "quotes": [1, "single", "avoid-escape"],
    "no-shadow": 0,
    "max-len": 0,
    "anchor-is-valid": 0
  }
}
