.registration-text-block {
  color: #fff;
  width: 100%;
  text-align: center;
}
form {
  margin: 0 -14px;
}

.MuiDialog-paper {
  border-radius: 4px !important;
  margin: 0;
}

.modal {
  padding: 24px 13px 24px 24px;
  border-radius: 4px;
  width: 251px;
  height: 129px;
  h4, p {
    margin: 0;
  }
  h4 {
    margin-bottom: 9px;
    margin-top: -4px;
  }
  p {
    margin-bottom: 24px;
  }
  button {
    float: right;
  }
}

.form {
  padding-top: 101px;
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  >div>div {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  >div>div p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 61px;
    text-align: center;
  }
  .fileFieldHolder {
    .MuiOutlinedInput-root.Mui-error fieldset.MuiOutlinedInput-notchedOutline {
      border: 1px solid #f44336 !important;
    }
  }
}

.mob-upload-btn {
  display: none;
}

.registration-banner-text {
  display: flex;
  align-items: center;
  height: 100%;
  //padding-top: 130px;
  h1 {
    margin: 23px 0 29px;
  }
}

.registration-banner-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .paragraphs-banner {
    max-width: 50%;
    width: 50%;
    text-align: left;
    p {
      margin-bottom: 21px;
    }
  }
  .image-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-left: 33px;
  }
  .image-container img {
    width: 429px;
  }
}

.fileFieldHolder {
  position: relative;
  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    height: 56px;
    width: 130px;
    min-width: 130px;
    border-radius: 0 4px 4px 0;
  }
  >div {
    width: 100%;
  }
  div:hover,
  input:hover {
    cursor: pointer;
  }
}

.submit-holder {
  text-align: center;
  margin-bottom: 140px;
}

.firstFormRow,
.secondFormRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
  >div {
    padding: 0 15px;
    width: 100%;
    >div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1440px) {
.form {
  padding-top: 107px;
  >div>div p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 57px;
  }
}
  .submit-holder {
    margin-bottom: 138px;
  }
  .registration-banner-text h1{
    margin: -10px 0 27px;
  }
  .registration-banner-content {
    .image-container {
      padding-left: 31px;
      img {
        padding: 11px 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .submit-holder {
    margin-bottom: 100px;
  }
  .form {
    padding-top: 59px;
    h1 {
      margin-bottom: 27px;
    }
    > div > div p {
      max-width: 364px;
      line-height: 22px;
      padding-bottom: 49px;
    }
  }
  .registration-banner-text h1{
    margin: 9px 0 27px;
    padding: 0 125px;
  }
  .registration-banner-content {
    .image-container {
      padding-left: 26px;
      img {
        padding: 0 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {

  .registration-banner-content {
    .image-container img {
      width: 343px;
    }
  }

}



@media screen and (max-width: 700px) {
  .submit-holder {
    padding: 0 15px;
    margin-bottom: 58px;
    margin-top: -10px;
    button {
      width: 100%;
    }
  }
  .form {
    padding-top: 37px;
  }
  .form h1{
    margin: 9px 0 5px;
    padding: 0;
  }
  .form {
    >div>div p {
      padding-bottom: 32px;
    }
  }
  .registration-banner-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .image-container {
      padding: 0;
    }
    .image-container img{
      padding: 0;
    }
      .paragraphs-banner {
      width: 100%;
    }
    p {
      text-align: center;
    }
  }
  .firstFormRow,
  .secondFormRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 100%;
    >div {
      padding: 0 15px;
      width: 100%;
      margin-bottom: 35px;
      >div {
        width: 100%;
      }
    }
  }
}



@media screen and (max-width: 500px) {
  button.mob-upload-btn {
    width: 56px;
    min-width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop-upload-btn {
    display: none;
  }
  .registration-text-block {
    h1 {
      line-height: 32px;
    }
  }
  .registration-banner-content {
    flex-direction: column-reverse;
    .image-container {
      padding: 0;
      margin-bottom: 10px;
    }
    .image-container img {
      width: 257px;
      padding: 0;
    }
    .paragraphs-banner {
      max-width: 450px;
      width: 100%;
      text-align: center;
    }
  }

}

