body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 314px;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cls-1{isolation:isolate;}
.cls-2{fill:#161616;}

.container {
  max-width: 929px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 2560px) {
  .container {
    max-width: 1140px;
    padding: 0 24px;
    margin: 0 auto;
  }
}

.flex {
  display: flex;
}
