.image-container {
  position: relative;
  width: 100%;
  //height: 676px;
}

.image-container img {
  width: 100%;
}

.banner-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  .banner-text {
    padding-top: 126px;
  }
  .text-block {
    max-width: 533px;
    color: #fff;
    p {
      font-size: 20px;
      margin-bottom: 36px;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 22px;
    }
    a {
      display: block;
    }
  }
  .all-visible {
    max-width: 466px;
    margin: 0 !important;
  }
}

@media screen and (max-width: 1440px){

  .main-text {
    max-width: 427px;
  }
      h1 {
        margin-bottom: 25px;
      }
  .banner-container {
    //.paragraph-1 {
    //  max-width: 427px;
    //}
    .text-block {
      p {
        margin-bottom: 41px;
      }
    }
    .all-visible {
      max-width: 466px;
      margin: 0 !important;
    }
  }
    .all-visible {
      display: inline;
    }
  }


@media screen and (max-width: 992px) and (min-width: 701px) {
  .banner-container {
.banner-text {
  padding-top: 106px;
}
    .text-block {
      width: 56%;
      height: 397px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h1 {
        margin-bottom: 4px;
      }
      a {
        margin: 0px 0 2px -2px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px;
      }
    }
    }
  }



@media screen and (max-width: 700px) {
  .main-text {
    margin: 0 auto;
  }
  .desktop-visible {
    display: none;
  }
  .banner-container {
    .banner-text {
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: -2px;
    }
      .text-block {
        width: 100%;
        h1, p, a {
          text-align: center;
        }

      }
  }
}

@media screen and (max-width: 500px) {
  .banner-container {
    .text-block {
      h1 {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 39px;
        font-size: 16px;
      }
    }
  }
}


@media screen and (min-width: 3840px) {
  .image-container {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1920px) {
  .image-container  {
    min-height: 676px;
  }
}

@media screen and (min-width: 1024px) {
  .image-container{
    min-height: 725px;
  }
}

@media screen and (min-width: 992px) {
  .image-container {
    min-height: 622px;
  }
}

@media screen and (min-width: 768px) {
  .image-container {
    min-height: 622px;
  }
}

@media screen and (min-width: 320px) {
  .image-container {
    min-height: 393px;
  }
}



