.text-block {
    max-width: 533px;
    color: #fff;
    p {
      font-size: 20px;
      margin-bottom: 36px;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 22px;
    }
    a {
      display: block;
    }
  }
  .all-visible {
    max-width: 466px;
    margin: 0 !important;
  }
@media screen and (max-width: 1440px){

  .main-text {
    max-width: 427px;
  }
      h1 {
        margin-bottom: 25px;
      }
    .text-block {
      p {
        margin-bottom: 41px;
      }
    }
    .all-visible {
      max-width: 466px;
      margin: 0 !important;
      display: inline;
    }
  }
    .all-visible {
    }
@media screen and (max-width: 992px) and (min-width: 701px) {

.banner-text {
  padding-top: 106px;
}
    .text-block {
      width: 56%;
      height: 397px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h1 {
        margin-bottom: 4px;
      }
      a {
        margin: 0px 0 2px -2px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px;
      }
    }
    }

//
//
//
@media screen and (max-width: 700px) {
  .main-text {
    margin: 0 auto;
  }
  .desktop-visible {
    display: none;
  }

    .banner-text {
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: -2px;
    }
      .text-block {
        width: 100%;
        h1, p, a {
          text-align: center;
        }

      }

}
//
@media screen and (max-width: 500px) {
    .text-block {
      h1 {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 39px;
        font-size: 16px;
      }
    }
}

.main-banner {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.text-block {
  margin: 130px 0 138px;
}



