

button {
  margin: 30px 0 15px !important;
}

.container {
  display: flex;
  justify-content: center;
}

.form-holder {
  max-width: 600px;
  width: 100%;
}

.button-holder {
  text-align: center;
}

.MuiCard-root {
  padding: 20px !important;
  margin: 20px 0;
}

.MuiInputBase-input,
.MuiFormControl-root {
  width: 100% !important;
}

.mb-1 {
  margin-top: 15px;
}

.MuiFormControl-root {
  margin-top: 15px !important;
}

body {
  margin: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
