
a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

a.primary {
    color: #000;
}

a.primary:hover,
a.secondary:hover{
    text-decoration: none;
    color: #ef6c00;
    cursor: pointer;
}

a.primary:active,
a.secondary:active{
    color:#fc831f;
    cursor: pointer;
}

a.secondary {
    color: #fff;
}

a.text-link {
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 700;
    color: #ef6c00;
}

a.text-link:hover {
    color:#fc831f;
    cursor: pointer;
}

