$breakpoints: 3840, 2560, 1920, 1440, 1280, 1024, 992, 768, 500;
$primary-color: #ef6c00;
$secondary-color: #283593;
$background-color: #FFFFFF;
$primary-button-hover: #fc831f;

$breakpoint-mobile-small: 320;
$breakpoint-mobile-medium: 500;

$breakpoint-tablet-small: 700;
$breakpoint-tablet-medium: 768;
$breakpoint-tablet-large: 830;
$breakpoint-tablet-x-large: 992;

$breakpoint-laptop-small: 1024;
$breakpoint-laptop-medium: 1280;
$breakpoint-laptop-large: 1440;

$breakpoint-desktop: 1920;
$breakpoint-desktop-large: 2560;
$breakpoint-desktop-x-large: 3840;



